[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	push = +force group slim_klte
	label-Code-Review = -2..+2 group slim_klte
	label-Verified = -1..+1 group slim_klte
	submit = group slim_klte
	abandon = group slim_klte
	publishDrafts = group slim_klte
	forgeAuthor = group slim_klte
	forgeCommitter = group slim_klte
